<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <meta charset="utf-8">
  <title> NGIИX by Ansible *_* </title>
 </head>
 <body>
<h1> Hello! It's Nginx server! Our setup is </h1>
<p> CPU {{ ansible_facts.processor_cores }} cores </p>
<p> RAM {{ ansible_facts.memtotal_mb }} mb </p>
<p> HDD {{ ansible_facts.devices.vda.partitions.vda2.size }} </p>
<p> Вжух! И NGIИX работает! </p>
<img src="/images/vzhuh.png" style="width:500px;height:500px;">
 </body>
